<h1 mat-dialog-title class="TeamName">{{data.TeamName}}</h1>
<div mat-dialog-content>
    <table border="1 px solid black" class="dialogStyleTable">
        <thead>
            <tr>
                <th class="tableBody">Played</th>
                <th class="tableBody">Win</th>
                <th class="tableBody">Loss</th>
                <th class="tableBody">Draw</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td class="tableBody">{{data.Played}}</td>
                <td class="tableBody">{{data.Win}}</td>
                <td class="tableBody">{{data.Loss}}</td>
                <td class="tableBody">{{data.Draw}}</td>
            </tr>
           
        </tbody>
    </table>

  

</div>
